.root {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  &:nth-of-type(odd) {
    background-color: var(--colorWhite);
  }

  &[id] {
    scroll-margin-top: var(--topbarHeight);

    @media (--viewportMedium) {
      scroll-margin-top: var(--topbarHeightDesktop);
    }
  }
}

.sectionContent {
  padding: 32px 0;
  position: relative;
  word-break: break-word;

  @media (--viewportMedium) {
    padding: 64px 0;
  }
}

.heroSection {
  position: relative;
  word-break: break-word;
  z-index: 2;

  &>div {
    align-items: center;
    grid-template-columns: 1fr 750px;
    max-width: 1320px;
    margin-inline: auto;
    width: 100%;
    padding: 150px 50px 60px 50px !important;

    @media (max-width: 1440px) {
      grid-template-columns: 1fr 670px;
    }
    @media(max-width: 1320px) {
      grid-template-columns: 1fr 500px;
      padding: 150px 48px 40px 48px !important;
    
    }

    @media(max-width: 1100px) {
      grid-template-columns: 1fr 400px;
    }

    @media(max-width: 1024px) {
      grid-template-columns: 2fr 1fr;
    }

    @media(max-width: 920px) {
      grid-template-columns: 1fr;
      padding: 140px 32px 30px 32px !important;
    }

    @media(max-width: 500px) {
      padding: 140px 16px 20px 16px !important;
    }
  }
}

.cardsection {
  padding: 60px 0px;
  position: relative;
  z-index: 1;
  word-break: break-word;
  font-family: "DM Serif Display", serif;
  font-weight: 400;

  @media (max-width: 1024px) {
    padding: 60px 0px 40px 0px;
  }

  & header {
    padding: 0px;

    @media (max-width:768px) {
      justify-content: center;
      padding: 0px 32px;
    }

    @media (max-width: 500px) {
      padding: 0px 20px;
    }
  }

  &>div {
    max-width: 1320px;
    margin-inline: auto;
    width: 100%;
    padding: 60px 20px 0px 20px;
    gap: 40px;

    @media(max-width: 1320px) {
      padding: 50px 48px 40px 48px !important;
    }

    @media(max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
      overflow-x: auto;
      gap: 20px;
      width: 100%
    }

    @media (max-width: 920px) {
      padding: 50px 32px 30px 32px !important;
    }

    @media(max-width: 500px) {
      padding: 50px 16px 20px 16px !important;
    }
  }

  & h2 {
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;
    padding: 0px;
    color: #000000;
    font-family: "DM Serif Display", serif;

    @media(max-width: 1200px) {
      font-size: 50px;
    }

    @media(max-width: 768px) {
      font-size: 40px;
    }

    @media(max-width: 500px) {
      font-size: 30px;
      line-height: normal;
    }
  }

  & h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 0px;
    font-family: "DM Serif Display", serif;
    color: #000000;
    margin-bottom: 10px;
  }

  & p {
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    padding: 0px;
    margin: 0px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.mediationSection {
  padding: 60px 0px 95px 100px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #00000033;
  border-radius: 30px;

  @media(max-width: 1320px) {
    padding: 50px 48px 40px 48px !important;
  }

  @media(max-width: 920px) {
    padding: 50px 32px 30px 32px !important;
  }

  @media(max-width: 500px) {
    padding: 50px 16px 20px 16px !important;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 0px;
}

:global(#meditation-section) {
  position: relative;
  width: 100%;
  height: 800px;
 
  &::after {
    content: "";
    position: absolute;
    background-image: url(http://localhost:3000/static/media/heroBackground.2115c1f….svg), linear-gradient(to top, rgb(255 255 255 / 0%) 0%, rgb(200 223 222) 70%);
    /* background-image: url(http://localhost:3000/static/media/heroBackground.2115c1f….svg), linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(202 226 224) 70%); */
    /* background-image: url('../../../../assets/meditationBackground.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-position: left;
    filter: blur(200px);
  }

  &>div {
    max-width: 1320px;
    margin: 0px auto;
    z-index: 9;
    margin-top: 60px;
    margin-bottom: 41px;
    /* height: 800px; */

    & img {
      border-radius: 30px;
      /* width: 100%;
    height: 100%;
    object-fit: cover; */
    }
  }

  & header {
    max-width: 100%;
    display: unset;
    padding: 0px;

    & h2 {
      max-width: 565px;
      justify-self: unset;
      text-align: left;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 70px;
      padding: 0px;

      @media (max-width:1200px) {
        line-height: 65px;
        font-size: 50px
      }

      @media (max-width:768px) {
        font-size: 40px;
        line-height: 55px;
      }

      @media (max-width:500px) {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
}

.instructorSection {
  text-align: center;
  /* padding: 60px 0px; */
  padding: 41px 0px 50px 0px;
  position: relative;
  z-index: 2;
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;


  & header {
    margin: auto;
    margin-bottom: 60px;
    padding: 0px;

    @media(max-width: 1320px) {
      padding: 0px 48px 0px 48px;
    }

    @media(max-width: 920px) {
      padding: 0px 32px 0px 32px;
    }

    @media(max-width: 500px) {
      padding: 0px 16px 0px 16px;
    }

    & h2 {
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 50px;
      text-align: center;
      margin: auto;
      padding: 0px;
      color: #000;

      @media (max-width: 1200px) {
        font-size: 50px;
      }

      @media (max-width: 768px) {
        font-size: 40px;
      }

      @media (max-width: 500px) {
        font-size: 30px;
      }
    }

    & p {
      font-family: "Poppins", serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      max-width: 100%;
      margin-top: 20px !important;
      padding: 0px;
      color: #000;

      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }

      @media (max-width: 500px) {
        font-size: 14px;
        margin-top: 10px !important;
      }
    }
  }

  &>div {
    padding: 0px;
    margin: 0px;


    @media(max-width: 1320px) {
      padding: 0px 48px 40px 48px !important;
    }

    @media(max-width: 920px) {
      padding: 0px 32px 30px 32px !important;
    }

    @media (max-width: 1024px) {
      overflow-x: auto;
      padding-bottom: 48px;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }

    @media(max-width: 500px) {
      padding: 0px 16px 20px 16px !important;
    }
  }

  & h3 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
    color: #fff;

    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  p {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
}

.faqSection {
  padding: 60px 0px;
  z-index: 2;
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
  color: #000000;
  padding: 0px;

  @media(max-width: 1320px) {
    padding: 50px 48px 40px 48px !important;
  }

  @media(max-width: 920px) {
    padding: 50px 32px 30px 32px !important;
  }

  @media(max-width: 500px) {
    padding: 50px 16px 20px 16px !important;
  }

  & header {
    padding: 0px;

    & p {
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 50px;
      text-align: center;
      color: #000;
      padding: 0px;

      @media (max-width: 1200px) {
        font-size: 48px;
      }

      @media (max-width: 768px) {
        font-size: 38px;
      }

      @media (max-width: 500px) {
        font-size: 30px;
        line-height: 38px;
      }
    }
  }

  &>div {
    padding: 64px 0px 0px 0px;

    @media (max-width: 500px) {
      padding-top: 50px;
    }
  }
}

:global(#yoga-classes) {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
  justify-content: unset;
  margin-bottom: 100px;
  min-height: 300px;

  @media (max-width: 1320px) {
    margin-bottom: 0px;
  }

  &>div {
    @media(max-width: 1320px) {
      padding: 50px 48px 40px 48px !important;
    }

    @media(max-width: 920px) {
      padding: 50px 32px 30px 32px !important;
    }

    @media(max-width: 500px) {
      padding: 40px 16px 20px 16px !important;
    }
  }

  @media (max-width: 500px) {
    padding: 50px 32px;
  }


  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    /* display: none; */
  }

  & header {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
      padding: 0px;
    }

    & h2 {
      justify-self: unset;
      text-align: unset;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 66px;
      line-height: 60px;
      padding: 0px;

      @media (max-width: 1200px) {
        font-size: 48px;
      }

      @media (max-width: 768px) {
        font-size: 40px;
      }

      @media (max-width: 500px) {
        font-size: 32px;
      }
    }

    & p {
      justify-self: unset;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 20px;
      text-align: unset;
      padding: 0px;

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 576px) {
        font-size: 16px;
        margin-top: 10px;
        line-height: 20px;
      }
    }

    & a {
      justify-self: unset;
      padding: 11px 20px;
      width: fit-content;
      margin-top: 25px;
      font-family: "Poppins", serif;
      background: #FFFFFF;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #388D86;
      border-radius: 30px;
      border: none;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      box-shadow: none;

      @media (max-width: 1200px) {
        padding: 10px 24px;
        font-size: 18px;
      }

      @media (max-width: 768px) {
        padding: 8px 18px;
      }

      @media (max-width: 500px) {
        padding: 6px 16px;
        font-size: 14px;
        ;
      }

      &::after {
        content: '';
        display: block;
        background-image: url('../../../../assets//yogaIcon.svg');
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 0;
        top: 4px;
      }
    }
  }
}

:global(#about-us) {

  & h3 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
    padding-bottom: 4px;
  }

  & li {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 20px;
  }

  & a {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    &:hover {
      color: #3a3838;
    }
  }
}


:global(#courses) {

  & h3 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
  }

  & li {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 20px;
  }

  & p {
    margin-top: 4px;
  }

  & a {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    &:hover {
      color: #3a3838;
    }
  }
}


:global(#follow-us) {

  & h3 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
  }

  & p {
    margin-top: 4px;
  }

  & li {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 20px;
  }

  & a {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    &:hover {
      color: #3a3838;
    }
  }
}

/* 
#youtube{
  & a{
    margin: 0px;
    padding: 0px;
  }
} */