@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.defaultUserFields {}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.row,
.customFields {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
  /* background-color: red; */
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}


/* custom css */
.userTypeLabel {
  font-family: "Poppins", serif;
  padding: 0px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin: 0px;
}

.userTypeButton {
  display: flex;
  gap: 71px;
  margin-top: 20px;
}

& .checkBox {
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
  align-items: center;

  & label {
    font-family: "Poppins", serif;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  & input {
    width: 20px;
    height: 20px;
  }
}

.emailInputField,
.password,
.displayNameInput,
.countryName,
.stateInputField,
.zipcodeInputField {
  margin-top: 30px;

  & label {
    font-family: "Poppins", serif;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  & input {
    border: 1px solid #C8C8C8;
    padding: 9px 14px;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.firstNameRoot {
  & label {
    font-family: "Poppins", serif;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  & input {
    border: 1px solid #C8C8C8;
    padding: 9px 14px;
    margin-top: 10px;
    border-radius: 10px;
  }
}


.lastNameRoot {
  & label {
    font-family: "Poppins", serif;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  & input {
    border: 1px solid #C8C8C8;
    padding: 9px 14px;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.signupButton {
  background-color: #388D86;
  color: #fff;
  border-radius: 10px;
  min-height: 52px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  padding: 0px;

  &:hover {
    background-color: #388D86;
    color: #fff;
  }
}

.bottomWrapper {
  margin-top: 60px;
}