@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
  composes: marketplaceModalBottomWrapperText from global;
}

.recoveryLink {
  composes: marketplaceModalHelperLink from global;
}

.recoveryLinkInfo {
  composes: marketplaceModalHelperText from global;
}

/* custom css */
.emailLoginInput {
  /* margin-top: 30px; */

  & label {
    font-family: "Poppins", serif;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  & input {
    border: 1px solid #C8C8C8;
    padding: 9px 14px;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.password {
  /* margin-top: 30px; */

  & label {
    font-family: "Poppins", serif;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  & input {
    border: 1px solid #C8C8C8;
    padding: 9px 14px;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.bottomWrapper {
  margin-top: 60px;

  .bottomWrapperText {
    text-align: left;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;

    & .recoveryLinkInfo {
      font-family: "Poppins", serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
  }
}