@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalBottomWrapperText from global;
  padding-bottom: 6px;

  @media (--viewportMedium) {
    padding-bottom: 8px;
  }
}

.finePrint {
  composes: marketplaceModalHelperLink from global;
  padding: 3px 0 5px 0;
  text-align: left;
}

.privacyLink,
.termsLink {
  composes: marketplaceModalHelperLink from global;
  color: var(--marketplaceColor);

  &:hover {
    color: var(--marketplaceColorDark);
    text-decoration: underline;
    cursor: pointer;
  }
}


/* custom css */
.radioInputField {
  padding: 0px;
  margin: 0px;

  & li {
    margin: 0px;
    padding: 0px;
  }

  & span:first-child {

    & svg {
      margin-right: 10px;
      /* background-color: blue; */
    }
  }

  & span:last-child {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
    color: #000;
    /* margin-right: 10px; */
  }
}

.termsLink {}